*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    background: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 0px 16px 1px 15px rgba(13, 32, 61, 0.25);
}
.img-card{
    position: relative;
    display: inline-block;
}
.img-card img{
    max-width: 300px;
    border-radius: 15px;
    margin: 20px 20px 0px 20px;
}
.imagemSobreposta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-nft:hover + .imagemSobreposta{
    opacity: 1;
}

.texto-card{
    flex-direction: column;
    max-width: 300px;
    margin: 20px 20px 20px 20px;
}
.texto-card h1{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.texto-card h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.texto-card p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}
.texto-preco{
    display: flex;
    justify-content: space-between;
}
.texto-preco .etr{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}
.hora{
font-weight: 400;
}
.rodape{
    margin: 18px 0 10px 0px;
    font-size: 12px;
    display: flex;
    align-items: center;

}
.rodape{
    display: flex;
    align-items: center;
}
hr{
    border: 1px solid hsl(215, 32%, 27%);
}
.rodape span{
    font-size: 12px;
    margin: 2px;
    letter-spacing: 1px;
    font-weight: 300;
}
.rodape img{
    border: 1px white;
    max-width: 30px;
    margin-right: 10px;
}
.nome-rodape{
    color: white;
}
.nome-rodape:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
